html{
	
	color: #eee;
	font-family:sans-serif;
    font-size: xx-large;
    margin-left: 50px;
    
}



#start{

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    translate:840px 400px;
    
}

#submit{
font-size: 16px;
}
#textbox{
    font-size: 16px;
}
#next{
    font-size: 16px;
}
#promt{
    font-size: 14px;
    margin: 0px;
}
#a1{
    margin-top: 10px;
    font-size: 16px;
}
#a2{
    font-size: 14px;
}
#solution{
    font-size: 20px;
}
#correct{
    color: lime;
}
#incorrect{
    color: red;
}
#o{
    font-size: 16px;
}
#e{
    font-size: 16px;
}
#u{
    font-size: 16px;
}
#a{
    font-size: 16px;
}
#englishword{
    color:yellow;
}